service cloud.firestore {
  match /databases/{database}/documents {
    
    // --- FUNCIONES DE APOYO ---
    function isSignedIn() {
      return request.auth != null;
    }

    function getRole() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol;
    }

    // --- REGLAS POR COLECCIÓN ---

    // 1. USUARIOS
    match /usuarios/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || getRole() in ['admin', 'aprobador']);
      allow create: if isSignedIn();
      allow update: if isSignedIn() && (
        getRole() == 'admin' || 
        (request.auth.uid == userId && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['rol']))
      );
    }

    // 2. CRÉDITOS (Lógica multi-rol)
   match /creditos/{creditoId} {
  allow read: if isSignedIn() && (
    resource.data.usuario_id == request.auth.uid || 
    getRole() in ['admin', 'aprobador', 'tesorero']
  );
  
  allow create: if isSignedIn();
  allow update: if isSignedIn() && (
    getRole() == 'admin' || 
    
    // APROBADOR
    (getRole() == 'aprobador' && 
     request.resource.data.diff(resource.data).affectedKeys()
     .hasOnly(['estado', 'expediente', 'lastUpdate', 'updatedAt', 'monto_aprobado'])) ||
    
    // TESORERO (CORREGIDO)
   (getRole() == 'tesorero' && 
 request.resource.data.diff(resource.data).affectedKeys()
 .hasOnly(['pagado', 'lastUpdate', 'updatedAt', 'adminId', 'montoAbono', 'montoTotalCorregido'])) ||
    
    // USUARIO DUEÑO
    (resource.data.usuario_id == request.auth.uid && 
     resource.data.estado == 'pendiente' &&
     request.resource.data.diff(resource.data).affectedKeys()
     .hasOnly(['expediente', 'lastUpdate', 'updatedAt']))
  );
}

    // 3. CITAS
    match /citas/{citaId} {
      allow read: if isSignedIn() && (resource.data.usuario_id == request.auth.uid || getRole() in ['admin', 'aprobador','tesorero']);
      allow write: if isSignedIn() && (
        getRole() in ['admin', 'aprobador'] || 
        request.resource.data.usuario_id == request.auth.uid
      );
    }

    // 4. BLOGS
    match /blogs/{docId} {
      allow read: if true; 
      allow write: if isSignedIn() && getRole() in ['admin', 'marketing'];
    }

    // 5. EXPEDIENTES (Si manejas colección aparte, si no, se rige por 'creditos')
    match /expedientes/{expId} {
      allow read: if isSignedIn() && (resource.data.usuario_id == request.auth.uid || getRole() in ['admin', 'aprobador']);
      allow write: if isSignedIn() && (
        getRole() in ['admin', 'aprobador'] || 
        request.auth.uid == resource.data.usuario_id
      );
    }
  }
}